*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots


dataset/
custom_1/
custom_2/
env_map/
output_render/
assets/
original/
sparse/
version/

database.db
*.db

README.md
LICENSE.md
environment.yml